{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div
  class="bg-image p-5 text-center shadow-1-strong mb-5 text-white"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/003.webp');"
>
  <h1 class="mb-3 h2"><strong>Misión y Visión</strong></h1>

  <div class="p-5">
  <p><strong>Nuestra Misión</strong></p>
  <p>
    Nuestra misión es superar las expectativas de nuestros clientes mediante la entrega de proyectos de construcción de alta calidad, en tiempo y dentro del presupuesto acordado. 
  <br>
    Nos esforzamos por establecer relaciones sólidas y duraderas con nuestros clientes, basadas en la confianza, la transparencia y la integridad. 
  <br>
    Buscamos contribuir al desarrollo sostenible de las comunidades en las que operamos, generando empleo local y promoviendo prácticas constructivas respetuosas con el medio ambiente.
  </p>
  </div>

  <div class="p-5">
    <p><strong>Nuestra Visión</strong></p>
    <p>
        Aspiramos a ser reconocidos como líderes en el sector de la construcción, destacándonos por nuestra excelencia en la ejecución de proyectos y nuestra capacidad para adaptarnos a las últimas innovaciones y tecnologías en la industria.
    <br>
        Buscamos ser la elección preferida de los clientes que valoran la calidad, la confiabilidad y el compromiso en cada etapa del proceso constructivo.
    <br>
        Además, visualizamos un crecimiento sostenible que nos permita expandir nuestras operaciones y contribuir de manera significativa al desarrollo de nuevas comunidades.
    </div>


</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6 text-center">
            <h2><strong>NUESTROS OBJETIVOS</strong></h2>
            <img src="/img/img/herramientas.png" class="img-fluid" alt="Placeholder">
        </div>
        <div class="col-lg-6 d-flex align-items-center">
            Garantizar la satisfacción total del cliente, cumpliendo con los más altos estándares de calidad en cada proyecto.
            <br>
            Mejorar continuamente nuestros procesos y adoptar tecnologías innovadoras para aumentar la eficiencia y reducir costos.
            <br>
            Fomentar un ambiente de trabajo seguro y saludable para nuestro equipo, promoviendo la capacitación constante y el desarrollo profesional.
            <br>
            Contribuir al desarrollo sostenible mediante prácticas constructivas respetuosas con el medio ambiente y la comunidad.
            <br>
            Expandir nuestra presencia en el mercado, identificando oportunidades de crecimiento y diversificación de servicios.
        </div>
    </div>
</div>

{% endblock %}