{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h2>Nosotros</h2>
            <p>
                Somos una constructora 
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, erat at iaculis condimentum, ligula orci luctus nulla.
            </p>
        </div>
        <div class="col-lg-6">
            <img src="your-image.jpg" class="img-fluid" alt="Placeholder">
        </div>
    </div>
</div>

{% endblock %}